<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giới thiệu Thymeleaf</title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>

<header class="container d-flex align-items-center my-3">
    <img src="https://devmaster.edu.vn/images/logo.png"
         alt="Devmaster Academy"
         style="width: 120px; margin-right: 20px;">

    <div>
        <h1 th:text="${@environment.getProperty('app.name')}">Tên ứng dụng</h1>
        <p th:text="${@environment.getProperty('app.welcome.message')}">
            Chào mừng bạn đến với ứng dụng!
        </p>
    </div>
</header>

<section class="container mt-3">
    <a th:href="@{/profile}" class="btn btn-success">
        Devmaster Profile
    </a>
</section>

<!-- JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
